<div class="grid grid-cols-12  gap-y-12  lg:gap-x-12 ">

  <header class="col-span-12 flex items-center gap-2 lg:gap-4">
    <div class="grow">
      <h1 class="font-light lg:text-2xl">Product Details</h1>
      <div class="flex gap-4">
        <button class="btn btn-primary" onclick="product_dialog.showModal()">Edit</button>
        <button class="btn btn-neutral" onclick="delete_modal.showModal()">Delete</button>
      </div>
    </div>
  </header>

  <section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body">
      <div class="flex justify-between gap-2">
        <h2 class="card-title grow">
          <a >Product</a>
        </h2>
      </div>

      <div class=" form-control">
        <label class="label">
          <span class="label-text font-bold" >Product</span>
        </label>
        <input type="text" disabled [(ngModel)]="product.name"
               class="input input-bordered input-primary w-full" />
      </div>
      <div class="pt-4 grid grid-cols-3 gap-5">
        <div class="form-control">
          <label class="label">
            <span class="label-text font-bold">Quantity</span>
          </label>
          <input type="number" disabled [(ngModel)]="product.quantity"
                 class="input input-bordered text-center font-mono  input-primary w-full" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text font-bold">Price</span>
          </label>
          <input type="text" disabled [(ngModel)]="product.price"
            title="Price" class="input input-bordered text-center font-mono  input-primary w-full" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text font-bold">Tax</span>
          </label>
          <input type="text" disabled [(ngModel)]="product.tax"
            title="Tax" class="input input-bordered text-center font-mono  input-primary w-full" />
        </div>
      </div>
      <div class="pt-4 form-control">
        <label class="label">
          <span class="label-text font-bold" >Description</span>
        </label>
        <textarea disabled [(ngModel)]="product.description"
                  class="textarea textarea-bordered textarea-md max-w textarea-primary w-full"
                  maxlength="1000"></textarea>
      </div>

    </div>
  </section>


</div>

<dialog id="product_dialog" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <app-persist-product [product]="product" (changed)="productChanged($event)"/>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="delete_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{product.name}}</h3>
    <p class="py-4">Delete this Product ?</p>

    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
    <form method="dialog">
      <div class="flex  justify-between gap-4">
        <button class="btn btn-primary" (click)="delete()">Delete</button>
        <button class="btn btn-neutral" onclick="delete_modal.close()">Close</button>
      </div>
    </form>

  </div>
</dialog>


