<!-- card -->
<div class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card-body grow-0">
    <div class="flex justify-between gap-2">
      <h2 class="card-title grow">
        <a class="link-hover link">Contacts</a>
      </h2>
      <button class="btn btn-primary font-medium" onclick="contact_dialog.showModal()">
        <mat-icon aria-hidden="false" aria-label="person icon" class="h-5 w-5" fontIcon="add_circle"/>
        New Contact
      </button>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
      <tr>
        <th sorted order="{{sortDirection}}"   (click)="sort('name')">Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts; index as i" [routerLink]="[contact.id]" class="hover cursor-pointer">
        <td>
          <div class="flex items-center gap-4">
            <div class="avatar">
              <div class="mask mask-squircle h-10 w-10">
                <img alt="Avatar Tailwind CSS Component"
                     src="https://picsum.photos/80/80?1"/>
              </div>
            </div>
            <div>
              <div class="text-sm font-medium">{{contact.name}}</div>
              <div class="text-xs opacity-50">{{contact.address}}</div>
            </div>
          </div>
        </td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


<dialog class="modal" id="contact_dialog">
  <div class="modal-box w-11/12 max-w-5xl">
    <app-persist-contact (changed)="contactChanged($event)"/>
  </div>
  <form class="modal-backdrop" method="dialog">
    <button>close</button>
  </form>
</dialog>
