<div class=" gap-y-12 p-4 lg:gap-x-12">

  <div class="flex justify-between ">
    <h2 class="card-title grow">
      <a class="link-hover link">Account Details</a>
    </h2>
  </div>

  <div class="pt-4 grid grid-cols-3 gap-5">
    <div class="form-control">
      <label class="label">
        <span class="label-text font-bold">Name</span>
      </label>
      <input type="text" placeholder="Santander" title="Name" [(ngModel)]="bank.name"
             class="input input-bordered text-center font-mono  input-primary w-full"/>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-bold">IBAN</span>
      </label>
      <input
        placeholder="BE77 3771 1398 5578" type="text" [(ngModel)]="bank.accountNumber"
        title="IBAN" class="input input-bordered text-center font-mono  input-primary w-full"/>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-bold">Currency</span>
      </label>
      <select class="select select-bordered w-full max-w-xs" [(ngModel)]="bank.currency.id">
        <option *ngFor="let currency of currencies; index as i" [value]="currency.id">{{ currency.name }}</option>
      </select>
    </div>
  </div>

  <div class="pt-4 grid grid-cols-3 gap-5">
    <div class="form-control">
      <label class="label">
        <span class="label-text font-bold">SWIFT/BIC</span>
      </label>
      <input type="text" placeholder="SWIFT/BIC" title="Name" [(ngModel)]="bank.swiftBic"
             class="input input-bordered text-center font-mono  input-primary w-full"/>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-bold">Type</span>
      </label>
      <select class="select select-bordered w-full max-w-xs" [(ngModel)]="bank.type">
        <option *ngFor="let type of types; index as i" [value]="type">{{ type }}</option>
      </select>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-bold">Balance</span>
      </label>
      <input
        placeholder="0" type="text" [(ngModel)]="bank.balance"
        title="Balance" class="input input-bordered text-center font-mono  input-primary w-full"/>
    </div>
  </div>

  <div class="form-control">
    <div class="flex items-end py-4 gap-5">
      <button class="btn btn-primary grow" (click)="save()">Save</button>
    </div>
  </div>

</div>
