<div class="card">
  <div class="card-body">
    <div class="flex justify-between gap-2">
      <h2 class="card-title grow">
        <a>Products</a>
      </h2>
      <button class="btn btn-primary font-medium" onclick="add_item.showModal()">
        <mat-icon aria-hidden="false" aria-label="person icon" class="h-5 w-5" fontIcon="add_circle"/>
        New Item
      </button>
    </div>
    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <thead>
        <tr>
          <th>Description</th>
          <th>Price (excl. VAT)</th>
          <th>Tax</th>
          <th>Qtd</th>
          <th>Discount</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover cursor-pointer" *ngFor="let item of invoiceItems; index as i" (click)="itemSelect(i)">
          <td>

            <div class="flex items-center gap-4">
              <div>
                <div class="text-sm font-medium">{{ item.product.name }}</div>
                <div class="text-xs opacity-50">{{ item.description }}</div>
              </div>
            </div>

          </td>
          <td>{{ item.product.price | currency:'EUR' }}</td>
          <td>{{ item.product.tax }}%</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.discount }}%</td>
          <td>{{ item.total | currency:'EUR' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<dialog class="modal" id="add_item" #add_item>
  <div class="modal-box w-11/12 max-w-5xl">
    <app-invoice-add-item #invoiceAddItem (itemChanged)="itemChanged($event)"/>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
